**/.classpath
**/.dockerignore
**/.env
**/.env.*
**/.git
**/.gitattributes
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.db
**/*.log
**/*.user
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/obj
**/out
**/secrets
**/temp
**/tmp
**/wwwroot/uploads/*
!**/wwwroot/uploads/.gitkeep
GradingLog.txt
test_groq.json
